.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: var(--background);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.header-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  height: 3.125rem;
}

.navigation ul {
  padding: 0;
  margin: 0;
}

.navigation-item {
  color: var(--foreground);
  background: transparent;
  text-decoration: none;
  transition-property: background;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
}

.navigation-item:is(:hover, :focus-visible) {
  background: var(--surface);
}

.navigation-lg ul {
  display: flex;
  flex-wrap: nowrap;
}

.navigation-lg .navigation-item {
  border-radius: var(--radius);
  padding: 0.5rem 0.75rem;
}

.navigation-sm {
  position: relative;
}

.navigation-dropdown {
  position: absolute;
  background: var(--background);
  border-radius: var(--radius);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  overflow: hidden;
  right: 0;
  top: 100%;
  z-index: 20;
  margin-top: 1.5rem;
  transition-property: opacity;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
}

.navigation-dropdown .navigation-item {
  display: block;
  padding: 1rem;
}

.navigation-dropdown[data-expanded="false"] {
  opacity: 0;
  pointer-events: none;
}

.navigation-dropdown[data-expanded="true"] {
  opacity: 1;
  pointer-events: auto;
}

.navigation-lg {
  display: none;
}

.navigation-sm {
  display: block;
}

@media (min-width: 768px) {
  .navigation-lg {
    display: block;
  }

  .navigation-sm {
    display: none;
  }
}
