.form-label {
  display: block;
  margin-bottom: 0.5rem;
  line-height: 1;
}

.form-required {
  color: red;
}

.form-input {
  display: block;
  border: 1px solid var(--surface);
  background-color: var(--surface);
  border-radius: var(--radius);
  padding: 0.5rem 1rem;
  width: 100%;
  appearance: none;
}

.form-error {
  min-height: 1em;
  color: #e26b6b;
  margin-top: 0.25rem;
  font-size: 0.9rem;
  line-height: 1;
}
