.button {
  border: none;
  display: inline-flex;
  place-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  border-radius: var(--radius);
  transition-property: background, opacity;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
}

.button:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.button-primary {
  background: var(--surface);
}

.button-primary:is(:hover, :focus-visible) {
  background: hsl(from var(--surface) h s calc(l + 0.03));
}

.button-accent {
  color: var(--foreground);
  background: var(--accent);
}

.button-accent:is(:hover, :focus-visible) {
  background: hsl(from var(--accent) h s calc(l + 0.1));
}

.button-lg {
  padding: 1rem 1.5rem;
}

.button-icon {
  padding: 1rem;
  border-radius: 50%;
}
