.specials {
  display: block;
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.specials header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.specials-showcase {
  display: grid;
  gap: 1rem;
}

@media (min-width: 480px) {
  .specials-showcase {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }
}

.specials-card-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.specials-card-img {
  display: block;
  width: 100%;
  aspect-ratio: 4 / 3;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}
