.reserve-form {
  display: grid;
  gap: 2rem;
  grid-auto-flow: dense;
  grid-auto-rows: min-content;
  padding: 1rem;
}

.reserve-form-section {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: dense;
  grid-auto-rows: min-content;
}
