:root {
  --background: hsl(0, 0%, 100%);
  --foreground: hsl(0, 0%, 20%);
  --surface: hsl(150, 6%, 93%);
  --primary: hsl(160, 13%, 33%);
  --accent: hsl(50, 91%, 52%);
  --radius: 1rem;
}

@font-face {
  font-family: "Markazi";
  src: url("./fonts/Markazi.ttf") format("truetype");
  font-weight: 100 900;
}

@font-face {
  font-family: "Karla";
  src: url("./fonts/Karla.ttf") format("truetype");
  font-weight: 100 900;
}

html {
  line-height: 1.5;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Karla", sans-serif;
  line-height: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1024px;
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.px-gutter {
  padding-right: 1rem;
  padding-left: 1rem;
}

.py-16 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.list-none {
  list-style-type: none;
}

.font-sans {
  font-family: "Karla", sans-serif;
}

.font-serif {
  font-family: "Markazi", serif;
}

.font-medium {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.font-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.font-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.font-2xl {
  font-size: 2.5rem;
  line-height: 1;
}

.font-3xl {
  font-size: 4rem;
  line-height: 1;
}

.text-foreground {
  color: var(--foreground);
}

.text-surface {
  color: var(--surface);
}

.text-primary {
  color: var(--primary);
}

.text-accent {
  color: var(--accent);
}

.text-inverse {
  color: var(--background);
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.bg-primary {
  background: var(--primary);
}

.max-w-prose {
  max-width: 65ch;
}
